// Credit to Happy Hues! (happyhues.co)
$background-color: #16161a;
$headline-color: #fffffe;
$paragraph-color: #94a1b2;
$button-color: #7f5af0;
$button-text-color: #fffffe;
//  Illustration section
$stroke-color: #010101;
$main-illustration-color: #fffffe;
$highlight-color: #7f5af0;
$secondary-color: #72757e;
$tertiary-color: #2cb67d;